[package]
name = "amm-program"
version = "0.0.0"
edition = "2021"
readme = "./README.md"
license-file = "../LICENSE"
publish = false

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
anchor-lang = { version = "0.29.0", features = ["init-if-needed"] }
anchor-spl = { version = "0.29.0", features = ["default"] }
mpl-token-metadata = "4.0.0"
solana-program = "<1.18"
spl-math = { version = "0.1.0", features = ["no-entrypoint"] }
spl-token-metadata-interface = "0.2.0"
static_assertions = "1.1.0"
tensor-toolbox = { version = "0.0.1", git = "ssh://git@github.com/tensor-foundation/toolbox.git", features = [
    "token-2022",
] }
tensor_whitelist = { package = "whitelist-program", git = "ssh://git@github.com/tensor-foundation/whitelist.git", features = [
    "cpi",
] }
vipers = { version = "2.0.6", git = "ssh://git@github.com/tensor-foundation/toolbox.git" }
